In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [5]:
from pyspark.sql import Row
from datetime import date, datetime

# Row
df = spark.createDataFrame([
    Row(a=1, b=2, c='string1', d=date(2023,3,3), e=datetime(2024,3,3,1,1,1)),
    Row(a=2, b=3, c='string2', d=date(2023,3,4), e=datetime(2024,3,3,1,1,1)),
    Row(a=3, b=4, c='string3', d=date(2023,3,5), e=datetime(2024,3,3,1,1,1))
])

df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2023-03-03|2024-03-03 01:01:01|
|  2|  3|string2|2023-03-04|2024-03-03 01:01:01|
|  3|  4|string3|2023-03-05|2024-03-03 01:01:01|
+---+---+-------+----------+-------------------+

In [7]:
df = spark.createDataFrame([
    (1, 2, 'string1', date(2023,3,3), datetime(2024,3,3,1,1,1)),
    (2, 3, 'string2', date(2023,3,4), datetime(2024,3,3,1,1,1)),
    (3, 4, 'string3', date(2023,3,5), datetime(2024,3,3,1,1,1))
], schema='a long, b long, c string, d date, e timestamp')

df

DataFrame[a: bigint, b: bigint, c: string, d: date, e: timestamp]

In [8]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2023-03-03|2024-03-03 01:01:01|
|  2|  3|string2|2023-03-04|2024-03-03 01:01:01|
|  3|  4|string3|2023-03-05|2024-03-03 01:01:01|
+---+---+-------+----------+-------------------+

In [9]:
import pandas as pd

pandas_df = pd.DataFrame({
    "a": [1,2,3],
    "b":[2,3,4],
    "c":['string1', 'string2', 'string3'],
    "d": [date(2023,3,3), date(2023,3,4), date(2023,3,5)],
    "e": [datetime(2024,3,3,1,1,1), datetime(2024,3,3,1,1,1), datetime(2024,3,3,1,1,1)]
})
df = spark.createDataFrame(pandas_df)
df

DataFrame[a: bigint, b: bigint, c: string, d: date, e: timestamp]

In [10]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2023-03-03|2024-03-03 01:01:01|
|  2|  3|string2|2023-03-04|2024-03-03 01:01:01|
|  3|  4|string3|2023-03-05|2024-03-03 01:01:01|
+---+---+-------+----------+-------------------+

In [11]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: long (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [12]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2023-03-03|2024-03-03 01:01:01|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [13]:
df.show(1, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2
 c   | string1
 d   | 2023-03-03
 e   | 2024-03-03 01:01:01
only showing top 1 row

In [14]:
df.columns

['a', 'b', 'c', 'd', 'e']

In [15]:
df.select("a", "b", "c").describe().show()

+-------+---+---+-------+
|summary|  a|  b|      c|
+-------+---+---+-------+
|  count|  3|  3|      3|
|   mean|2.0|3.0|   NULL|
| stddev|1.0|1.0|   NULL|
|    min|  1|  2|string1|
|    max|  3|  4|string3|
+-------+---+---+-------+

In [16]:
pandas_df = df.toPandas()
pandas_df

   a  b        c           d                   e
0  1  2  string1  2023-03-03 2024-03-03 01:01:01
1  2  3  string2  2023-03-04 2024-03-03 01:01:01
2  3  4  string3  2023-03-05 2024-03-03 01:01:01

In [17]:
df.a

Column<'a'>

In [18]:
df['a']

Column<'a'>

In [22]:
df.select(df.a).show()

+---+
|  a|
+---+
|  1|
|  2|
|  3|
+---+

In [23]:
from pyspark.sql.functions import upper

df.withColumn('upper_c', upper(df.c)).show()

+---+---+-------+----------+-------------------+-------+
|  a|  b|      c|         d|                  e|upper_c|
+---+---+-------+----------+-------------------+-------+
|  1|  2|string1|2023-03-03|2024-03-03 01:01:01|STRING1|
|  2|  3|string2|2023-03-04|2024-03-03 01:01:01|STRING2|
|  3|  4|string3|2023-03-05|2024-03-03 01:01:01|STRING3|
+---+---+-------+----------+-------------------+-------+

In [25]:
df.filter(df.a<=2).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2023-03-03|2024-03-03 01:01:01|
|  2|  3|string2|2023-03-04|2024-03-03 01:01:01|
+---+---+-------+----------+-------------------+

In [27]:
from pyspark.sql.functions import pandas_udf

@pandas_udf('long')
def plus_one(series: pd.Series) -> pd.Series:
    return series+1

df.withColumn('a_plus', plus_one(df.a)).show()

+---+---+-------+----------+-------------------+------+
|  a|  b|      c|         d|                  e|a_plus|
+---+---+-------+----------+-------------------+------+
|  1|  2|string1|2023-03-03|2024-03-03 01:01:01|     2|
|  2|  3|string2|2023-03-04|2024-03-03 01:01:01|     3|
|  3|  4|string3|2023-03-05|2024-03-03 01:01:01|     4|
+---+---+-------+----------+-------------------+------+

In [28]:
wine_df = spark.read.csv('winemag-data-130k-v2.csv', header=True)
wine_df.show(20)

+---+---------+--------------------+--------------------+------+-----+-----------------+-------------------+-----------------+------------------+---------------------+--------------------+------------------+-------------------+
|_c0|  country|         description|         designation|points|price|         province|           region_1|         region_2|       taster_name|taster_twitter_handle|               title|           variety|             winery|
+---+---------+--------------------+--------------------+------+-----+-----------------+-------------------+-----------------+------------------+---------------------+--------------------+------------------+-------------------+
|  0|    Italy|Aromas include tr...|        Vulkà Bianco|    87| NULL|Sicily & Sardinia|               Etna|             NULL|     Kerin O’Keefe|         @kerinokeefe|Nicosia 2013 Vulk...|       White Blend|            Nicosia|
|  1| Portugal|This is ripe and ...|            Avidagos|    87| 15.0|            Douro|               NULL|             NULL|        Roger Voss|           @vossroger|Quinta dos Avidag...|    Portuguese Red|Quinta dos Avidagos|
|  2|       US|Tart and snappy, ...|                NULL|    87| 14.0|           Oregon|  Willamette Valley|Willamette Valley|      Paul Gregutt|          @paulgwine |Rainstorm 2013 Pi...|        Pinot Gris|          Rainstorm|
|  3|       US|Pineapple rind, l...|Reserve Late Harvest|    87| 13.0|         Michigan|Lake Michigan Shore|             NULL|Alexander Peartree|                 NULL|St. Julian 2013 R...|          Riesling|         St. Julian|
|  4|       US|Much like the reg...|Vintner's Reserve...|    87| 65.0|           Oregon|  Willamette Valley|Willamette Valley|      Paul Gregutt|          @paulgwine |Sweet Cheeks 2012...|        Pinot Noir|       Sweet Cheeks|
|  5|    Spain|Blackberry and ra...|        Ars In Vitro|    87| 15.0|   Northern Spain|            Navarra|             NULL| Michael Schachner|          @wineschach|Tandem 2011 Ars I...|Tempranillo-Merlot|             Tandem|
|  6|    Italy|Here's a bright, ...|             Belsito|    87| 16.0|Sicily & Sardinia|           Vittoria|             NULL|     Kerin O’Keefe|         @kerinokeefe|Terre di Giurfo 2...|          Frappato|    Terre di Giurfo|
|  7|   France|This dry and rest...|                NULL|    87| 24.0|           Alsace|             Alsace|             NULL|        Roger Voss|           @vossroger|Trimbach 2012 Gew...|    Gewürztraminer|           Trimbach|
|  8|  Germany|Savory dried thym...|               Shine|    87| 12.0|      Rheinhessen|               NULL|             NULL|Anna Lee C. Iijima|                 NULL|Heinz Eifel 2013 ...|    Gewürztraminer|        Heinz Eifel|
|  9|   France|This has great de...|         Les Natures|    87| 27.0|           Alsace|             Alsace|             NULL|        Roger Voss|           @vossroger|Jean-Baptiste Ada...|        Pinot Gris| Jean-Baptiste Adam|
| 10|       US|Soft, supple plum...|      Mountain Cuvée|    87| 19.0|       California|        Napa Valley|             Napa|    Virginie Boone|              @vboone|Kirkland Signatur...|Cabernet Sauvignon| Kirkland Signature|
| 11|   France|This is a dry win...|                NULL|    87| 30.0|           Alsace|             Alsace|             NULL|        Roger Voss|           @vossroger|Leon Beyer 2012 G...|    Gewürztraminer|         Leon Beyer|
| 12|       US|Slightly reduced,...|                NULL|    87| 34.0|       California|   Alexander Valley|           Sonoma|    Virginie Boone|              @vboone|Louis M. Martini ...|Cabernet Sauvignon|   Louis M. Martini|
| 13|    Italy|This is dominated...|               Rosso|    87| NULL|Sicily & Sardinia|               Etna|             NULL|     Kerin O’Keefe|         @kerinokeefe|Masseria Settepor...| Nerello Mascalese|Masseria Setteporte|
| 14|       US|Building on 150 y...|                NULL|    87| 12.0|       California|      Central Coast|    Central Coast|     Matt Kettmann|        @mattkettmann|Mirassou 2012 Cha...|        Chardonnay|           Mirassou|
| 15|  Germany|Zesty orange peel...|               Devon|    87| 24.0|            Mosel|               NULL|             NULL|Anna Lee C. Iijima|                 NULL|Richard Böcking 2...|          Riesling|    Richard Böcking|
| 16|Argentina|Baked plum, molas...|               Felix|    87| 30.0|            Other|           Cafayate|             NULL| Michael Schachner|          @wineschach|Felix Lavaque 201...|            Malbec|      Felix Lavaque|
| 17|Argentina|Raw black-cherry ...| Winemaker Selection|    87| 13.0| Mendoza Province|            Mendoza|             NULL| Michael Schachner|          @wineschach|Gaucho Andino 201...|            Malbec|      Gaucho Andino|
| 18|    Spain|Desiccated blackb...|Vendimia Seleccio...|    87| 28.0|   Northern Spain|   Ribera del Duero|             NULL| Michael Schachner|          @wineschach|Pradorey 2010 Ven...| Tempranillo Blend|           Pradorey|
| 19|       US|Red fruit aromas ...|                NULL|    87| 32.0|         Virginia|           Virginia|             NULL|Alexander Peartree|                 NULL|Quiévremont 2012 ...|          Meritage|        Quiévremont|
+---+---------+--------------------+--------------------+------+-----+-----------------+-------------------+-----------------+------------------+---------------------+--------------------+------------------+-------------------+
only showing top 20 rows

In [33]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

@udf(returnType=BooleanType())
def is_number_value(val):
    try:
        float(val)
        return True
    except:
        return False

filtered_df = wine_df.filter(col('country').isNotNull()).filter(col('price').isNotNull()).filter(is_number_value(col('price')))
filtered_df.show(20)

+---+---------+--------------------+--------------------+------+-----+-----------------+-------------------+-----------------+------------------+---------------------+--------------------+------------------+-------------------+
|_c0|  country|         description|         designation|points|price|         province|           region_1|         region_2|       taster_name|taster_twitter_handle|               title|           variety|             winery|
+---+---------+--------------------+--------------------+------+-----+-----------------+-------------------+-----------------+------------------+---------------------+--------------------+------------------+-------------------+
|  1| Portugal|This is ripe and ...|            Avidagos|    87| 15.0|            Douro|               NULL|             NULL|        Roger Voss|           @vossroger|Quinta dos Avidag...|    Portuguese Red|Quinta dos Avidagos|
|  2|       US|Tart and snappy, ...|                NULL|    87| 14.0|           Oregon|  Willamette Valley|Willamette Valley|      Paul Gregutt|          @paulgwine |Rainstorm 2013 Pi...|        Pinot Gris|          Rainstorm|
|  3|       US|Pineapple rind, l...|Reserve Late Harvest|    87| 13.0|         Michigan|Lake Michigan Shore|             NULL|Alexander Peartree|                 NULL|St. Julian 2013 R...|          Riesling|         St. Julian|
|  4|       US|Much like the reg...|Vintner's Reserve...|    87| 65.0|           Oregon|  Willamette Valley|Willamette Valley|      Paul Gregutt|          @paulgwine |Sweet Cheeks 2012...|        Pinot Noir|       Sweet Cheeks|
|  5|    Spain|Blackberry and ra...|        Ars In Vitro|    87| 15.0|   Northern Spain|            Navarra|             NULL| Michael Schachner|          @wineschach|Tandem 2011 Ars I...|Tempranillo-Merlot|             Tandem|
|  6|    Italy|Here's a bright, ...|             Belsito|    87| 16.0|Sicily & Sardinia|           Vittoria|             NULL|     Kerin O’Keefe|         @kerinokeefe|Terre di Giurfo 2...|          Frappato|    Terre di Giurfo|
|  7|   France|This dry and rest...|                NULL|    87| 24.0|           Alsace|             Alsace|             NULL|        Roger Voss|           @vossroger|Trimbach 2012 Gew...|    Gewürztraminer|           Trimbach|
|  8|  Germany|Savory dried thym...|               Shine|    87| 12.0|      Rheinhessen|               NULL|             NULL|Anna Lee C. Iijima|                 NULL|Heinz Eifel 2013 ...|    Gewürztraminer|        Heinz Eifel|
|  9|   France|This has great de...|         Les Natures|    87| 27.0|           Alsace|             Alsace|             NULL|        Roger Voss|           @vossroger|Jean-Baptiste Ada...|        Pinot Gris| Jean-Baptiste Adam|
| 10|       US|Soft, supple plum...|      Mountain Cuvée|    87| 19.0|       California|        Napa Valley|             Napa|    Virginie Boone|              @vboone|Kirkland Signatur...|Cabernet Sauvignon| Kirkland Signature|
| 11|   France|This is a dry win...|                NULL|    87| 30.0|           Alsace|             Alsace|             NULL|        Roger Voss|           @vossroger|Leon Beyer 2012 G...|    Gewürztraminer|         Leon Beyer|
| 12|       US|Slightly reduced,...|                NULL|    87| 34.0|       California|   Alexander Valley|           Sonoma|    Virginie Boone|              @vboone|Louis M. Martini ...|Cabernet Sauvignon|   Louis M. Martini|
| 14|       US|Building on 150 y...|                NULL|    87| 12.0|       California|      Central Coast|    Central Coast|     Matt Kettmann|        @mattkettmann|Mirassou 2012 Cha...|        Chardonnay|           Mirassou|
| 15|  Germany|Zesty orange peel...|               Devon|    87| 24.0|            Mosel|               NULL|             NULL|Anna Lee C. Iijima|                 NULL|Richard Böcking 2...|          Riesling|    Richard Böcking|
| 16|Argentina|Baked plum, molas...|               Felix|    87| 30.0|            Other|           Cafayate|             NULL| Michael Schachner|          @wineschach|Felix Lavaque 201...|            Malbec|      Felix Lavaque|
| 17|Argentina|Raw black-cherry ...| Winemaker Selection|    87| 13.0| Mendoza Province|            Mendoza|             NULL| Michael Schachner|          @wineschach|Gaucho Andino 201...|            Malbec|      Gaucho Andino|
| 18|    Spain|Desiccated blackb...|Vendimia Seleccio...|    87| 28.0|   Northern Spain|   Ribera del Duero|             NULL| Michael Schachner|          @wineschach|Pradorey 2010 Ven...| Tempranillo Blend|           Pradorey|
| 19|       US|Red fruit aromas ...|                NULL|    87| 32.0|         Virginia|           Virginia|             NULL|Alexander Peartree|                 NULL|Quiévremont 2012 ...|          Meritage|        Quiévremont|
| 20|       US|Ripe aromas of da...|       Vin de Maison|    87| 23.0|         Virginia|           Virginia|             NULL|Alexander Peartree|                 NULL|Quiévremont 2012 ...|         Red Blend|        Quiévremont|
| 21|       US|A sleek mix of ta...|                NULL|    87| 20.0|           Oregon|             Oregon|     Oregon Other|      Paul Gregutt|          @paulgwine |Acrobat 2013 Pino...|        Pinot Noir|            Acrobat|
+---+---------+--------------------+--------------------+------+-----+-----------------+-------------------+-----------------+------------------+---------------------+--------------------+------------------+-------------------+
only showing top 20 rows

In [34]:
groupped_df = filtered_df.groupBy(col('country')).agg(max(col('price')).alias('max_price'))
groupped_df.show(20)

+--------------------+---------+
|             country|max_price|
+--------------------+---------+
|           Argentina|     99.0|
|             Armenia|     15.0|
|           Australia|     99.0|
|             Austria|     99.0|
|Bosnia and Herzeg...|     13.0|
|              Brazil|     60.0|
|            Bulgaria|      9.0|
|              Canada|     95.0|
|               Chile|     95.0|
|               China|     18.0|
|             Croatia|     65.0|
|              Cyprus|     21.0|
|      Czech Republic|     45.0|
|             England|     95.0|
|              France|     99.0|
|             Georgia|      9.0|
|             Germany|     99.0|
|              Greece|      9.0|
|             Hungary|     80.0|
|               India|     20.0|
+--------------------+---------+
only showing top 20 rows

In [36]:
groupped_df.select(col('country'), col('max_price')).orderBy(col('max_price').desc()).show(10)

+-----------+---------+
|    country|max_price|
+-----------+---------+
|      Italy|     99.0|
|     Israel|     99.0|
|  Argentina|     99.0|
|  Australia|     99.0|
|    Austria|     99.0|
|     France|     99.0|
|    Germany|     99.0|
|New Zealand|     99.0|
|   Portugal|     99.0|
|      Spain|     99.0|
+-----------+---------+
only showing top 10 rows